html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 1em 1em 13em;
	min-height: 100svh;
	text-align: center;
	background-image: url('podklady/sun.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	flex-grow: 1;
}

h1,
p {
	max-width: 40rem;
}

@keyframes reklama {
	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60% {
		transform: scale(1);
	}
	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65% {
		transform: scale(1.1);
	}
	72% {
		transform: rotate(-1turn);
	}
	100% {
		transform: none;
	}
}

.datum {
	background-color: #e40822;
	color: #ffffff;
	padding: 0.5em 1em;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 50%;
	aspect-ratio: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 2em;
	left: 2em;
	align-self: flex-start;
	animation: reklama 7s infinite;
}
